
<div class="row">
	<div class="ui menu">
		<a href="#/beers/" class="item"> <i class="reply icon"></i> Retour
		</a>
	</div>
</div>

<div class="ui divider"></div>

<div class="row">
	<div>
		<div ng-controller="BeerEditCtrl">
			<form novalidate class="ui form">
				<div class="ui reveal hidden content">
					<input ng-model="beer.id" type="text" />
					<input ng-model="beer.label" type="text" />
					<input ng-model="beer.image" type="text" />
				</div>
				<div class="two fields">
					<div class="field">
						<label>Nom :</label> <input ng-model="beer.name" type="text"
							placeholder="Nom">
					</div>
					<div class="field">
						<label>Brasserie</label> <input ng-model="beer.brewery" type="text"
							placeholder="Brasserie">
					</div>
				</div>
				<div class="three fields">
					<div class="field">
						<label>Disponibilité :</label> <input ng-model="beer.availability"
							type="text" placeholder="Disponibilité" />
					</div>
					<div class="field">
						<label>Style</label> <input ng-model="beer.style" type="text"
							placeholder="Style" />
					</div>
				    <div class="field">
   						<label>Alcohol</label> <input ng-model="beer.alcohol" type="number"
							placeholder="X.X%" />
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>Instructions : </label>
						<textarea rows="2" ng-model="beer.serving"
							placeholder="Instructions..."></textarea>
					</div>
	
					<div class="field">
						<label>Description : </label>
						<textarea rows="2" ng-model="beer.description"
							placeholder="Description..."></textarea>
					</div>
				</div>
				<input class="ui submit primary button" type="submit"
					ng-click="update(beer)" value="Créer" /> <input class="ui button"
					type="button" ng-click="reset()" value="Reset" />
			</form>
			<pre>beer = {{beer | json}}</pre>
			<pre>master = {{master | json}}</pre>
		</div>

	</div>
</div>