
<div class="row">
	<div class="ui menu">
		<a href="#/beers/" class="item"> <i class="reply icon"></i> Retour
		</a>
	</div>
</div>
<div class="ui divider"></div>
<div class="row">
	<div class="ui items">
		<div class="item">
			<div class="image">
				<img ng-src="{{mainImg}}">
			</div>
			<div class="content">
				<a class="header">{{beer.name}}</a>
				<div class="meta">
					<span>Description</span>
				</div>
				<div class="description">
					<p>{{beer.description}}</p>
					<table class="ui celled padded table">
						<thead>
							<tr>
								<th class="single line">Brasserie</th>
								<th>Alcool</th>
								<th>Disponibilité</th>
								<th>Style</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<h2 class="ui center aligned header">{{ beer.brewery }}</h2>
								</td>
								<td>
									<div class="ui star rating" data-rating="{{ beer.alcohol }}"
										data-max-rating="10"></div>
								</td>
								<td class="right aligned">{{ beer.availability }} <br>
									<a href="#">Commander</a>
								</td>
								<td>{{ beer.style }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 
	<ul class="beer-thumbs">
		<li><img ng-src="{{beer.img}}" ng-click="setImage(beer.img)">
		</li>
		<li><img ng-src="{{beer.label}}" ng-click="setImage(beer.label)">
		</li>
	</ul>
 -->
</div>